<!DOCTYPE html>
<html ng-app="lightBox">
<head> 
	<link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
	<title>INTRO TO ANGULAR PART THREE</title>
	<link rel = "stylesheet type" = "text/css" href="angularIntroPartThree.css">
	<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js">
	</script>
	<script type="text/javascript" src="angularIntroPartThree.js"> </script>
	<style>
		body{
			background-image: url("https://www.colourbox.com/preview/2250830-maths-seamless-pattern-tile-for-endless-background-swatch-ready.jpg");
		}
	</style>
</head>






<body>
	<div ng-controller="annoyingPopUp">
		<div ng-hide="hideThis" class="greyspace">
			<div class="boxContent">
				<h1>i am hear to annoy u with bad gramir an speling your welkum</h1>
				<button ng-click="clothes()" class="closeButton">clothes</button>
			</div>
		</div>


		<button ng-click="pressMe()" class="mainButton">press me</button>

	</div>






</body>

<html>